/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');
@import "tailwindcss";


body{
  font-family: Outfit;
}

a.active hr{
    display: block;
}

/* Swiper pagination styles */
.swiper-pagination {
  position: absolute;
  bottom: 2rem !important;
  left: 50% !important;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: black;
  opacity: 0.5;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}


/* MEDIA */
@media (max-width:640px) {
  a.active{
    background-color: black;
    color: white;
  }
}